.titulo {
    color: blueviolet;
    width: 448px;
    height: 80px;
    background-color: lightgreen;
}

#Selecciona-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}